<app-search></app-search>
<div class="table">
  <table mat-table [dataSource]="devices" class="mat-elevation-z8">

    <ng-container *ngFor="let header of headers" matColumnDef="{{ header }}">
      <th mat-header-cell *matHeaderCellDef> {{ header }} </th>
      <td [ngClass]="{'editable': editableTypes.includes(header)}" (click)="editEntry(element, header)" mat-cell *matCellDef="let element"> {{ element[header] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
  </table>
</div>
