.table {
  table {
    overflow: auto;
    width: 100%;
  }

  .mat-cell {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    position: relative;

    &.editable {
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:after {
        color: #fff;
        content: 'Edit';
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:hover {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }

  .mat-header-cell {
    padding-left: 10px;
    padding-right: 10px;
  }
}
