.field {
  margin-top: 10px;

  .field-container {
    border: 1px solid transparent;
    background: rgba(0, 0, 0, .1);
    padding: 10px;

    &.public {
      border-color: #1976d2;
    }
  }

  &-input {
    display: inline-block;
    margin-left: 10px;
    width: 40%;
  }

  &-title {
    align-items: center;
    background: #1976d2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    p {
      margin: 0;
    };
  }

  &-public {
    display: none;
  }
}
