<div class="field"
     [ngClass]="{'field-input': !isObject, 'field-public': key === 'public'}">
  <div *ngIf="isObject"
       class="field-container"
       [ngClass]="{'public': field.public}">
    <div class="field-title">
      <p>
        {{key}}:
      </p>
      <mat-checkbox
        class="example-margin"
        [ngModel]="field.public"
        (ngModelChange)="onPublicChange($event)">
        Public
      </mat-checkbox>
    </div>
    <app-input-field *ngFor="let subfield of field | keyvalue; trackBy:trackByFn" [(field)]="field[subfield.key]" [key]="subfield.key"></app-input-field>
  </div>

  <mat-form-field *ngIf="isString">
    <mat-label>{{key}}</mat-label>
    <input matInput type="text" [ngModel]="field" (ngModelChange)="onChange($event)">
  </mat-form-field>

  <mat-form-field *ngIf="isNumber">
    <mat-label>{{key}}</mat-label>
    <input matInput type="number" [ngModel]="field" (ngModelChange)="onChange($event)">
  </mat-form-field>

  <mat-checkbox
    *ngIf="isBoolean"
    class="example-margin"
    [ngModel]="field"
    (ngModelChange)="onChange($event)">
    {{key}}
  </mat-checkbox>
</div>
