<h2 mat-dialog-title>Edit Entry</h2>
<mat-dialog-content class="mat-typography">
  <h3>Fields:</h3>

  <app-input-field *ngFor="let field of fields | keyvalue; trackBy:trackByFn" [(field)]="fields[field.key]" [key]="field.key" [order]="1"></app-input-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="fields" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
