<div class="search container">
  <mat-form-field appearance="fill" class="search-types-select">
    <mat-label>Include types:</mat-label>
    <mat-select multiple [(value)]="selectedTypes">
      <mat-option *ngFor="let type of types" [value]="type.pk_entity_type_id">{{type.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="search-text-input">
    <mat-label>Name includes</mat-label>
    <input matInput type="text" [(ngModel)]="searchText">
  </mat-form-field>

  <button class="search-button" mat-raised-button color="primary" (click)="search()">Search</button>
</div>
